.list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 16px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.noResult {
    text-align: center;
}